* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

body {
    background: #F5F7FE;
}

/* header */
header {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(135, 135, 135, 0.1);
    width: 100vw;
    height: 91px;
}

h1 {
    position: absolute;
    top: 32px;
    left: 104px;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 18px;
    letter-spacing: -0.05em;
    color: #111862;
}


/* profile */
.Profile {
    min-width: 300px;
    height: 490px;
    background: #FFFFFF;
    border: 1px solid #DADCF3;
    box-sizing: border-box;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 53px 0 95px;
}

.profile_img {
    width: 140px;
    height: 140px;
    border: 1px solid #DADCF3;
    box-sizing: border-box;
    border-radius: 100%;
    margin: 32px 0 23px 0;
}

.user_name {
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 4px;
}

.user_job {
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #9F9F9F;
}

.user_introduction {
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    width: 214px;
    margin: 21px 0 30px 0;
}

.modify_profile_bttn {
    /*
    -webkit-appearance: none;
    -moz-appearance: none;
    */
    appearance: none;
    background: #FFFFFF;
    width: 214px;
    height: 48px;
    border: 0.5px solid #B9B9B9;
    box-sizing: border-box;
    border-radius: 50px;
    /* font */
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

/* profile - sns */

.sns_list {
    display: flex;
    align-items: center;
    height: 87px;
    margin-top: 14px;
}

.sns_item {
    width: 37px;
    height: 37px;
    background: #F5F6FF;
    border: 1px solid #C9CDFA;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0 11px 0 11px;
}

/* section */
.Section {
    display: flex;
    overflow: auto;
    margin: 44px 0 0 0;
}

h2 {
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #111862;
    margin-bottom: 16px;
}

/* rooms */
.room_list {
    display: flex;
    flex-wrap: wrap;
}

.room {
    width: 312px;
    height: 242px;
    background: #FFFFFF;
    border: 1px solid #DADCF3;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.02);
    border-radius: 30px;
    margin: 0 43px 60px 0;
    padding: 16px 26px 21px 26px;
    position: relative;
}

.category_list {
    display: flex;
    margin-bottom: 10px;
}

.category_item {
    width: 50px;
    height: 19px;
    left: 473px;
    top: 201px;
    background: #6138B9;
    border-radius: 50px;
    margin-right: 5px;
    /* font */
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
}

.category2 {
    color: #000;
    background: #FFDB80;
}

.room_title {
    font-family: DIN Alternate;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1249;
    position: relative;
    left: -1px;
}

.room_subtitle {
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #000000;
}

.birth_time {
    display: inline-block;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #575757;
    margin-bottom: 13px;
}

.member_profile_imgs {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 21px;
    right: 26px;
}

.member_profile_img {
    width: 76px;
    height: 76px;
    background: #FFFFFF;
    border: 1px solid #DADCF3;
    box-sizing: border-box;
    border-radius: 100%;
}

.member1 {
    position: relative;
    left: 76px;
    z-index: 3;
}

.member2 {
    position: relative;
    left: 38px;
    z-index: 2;
}

.member3 {
    z-index: 1;
}

/* add new room button */
.AddNewRoom {
    /* position */
    position: fixed;
    bottom: 133px;
    right: 80px;
    z-index: 10;
    /* box */
    width: 234px;
    height: 67px;
    background: #FFFFFF;
    border: 1px solid #C9CDFA;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(40, 40, 40, 0.1);
    border-radius: 40px;
    /* font */
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.05em;
    color: #452D79;
}