/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
}

.modal.openModal {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.modal_container {
    width: 713px;
    height: 469px;
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    box-shadow: 0px 4px 30px rgba(135, 135, 135, 0.1);
    border-radius: 20px 20px 0px 0px;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #312944;
    padding-top: 5px;
    box-sizing: border-box;
}

.modal_contents {
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
}

/* form */

.modal_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_list {
    margin: 43px 0 61px 0;
}

.form_item {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.form_item_title {
    display: inline-block;
    width: 45px;
    margin-right: 45px;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #312944;
}


/* 카테고리 */

input[type="checkbox"] {
    display: none;
}

.modal_category_list {
    height: 37px;
    display: flex;
    align-items: center;
}

.category_item_label {
    display: inline-block;
    width: 50px;
    height: 19px;
    background: #FFFFFF;
    border: 1px solid #6138B9;
    box-sizing: border-box;
    border-radius: 50px;
    margin-right: 8px;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #6138B9;
}

/*
.category_item_label.project {
    font-size: 10px;
    line-height: 20.5px;
}
*/

/* 대제목, 소제목 */

.form_text_input {
    width: 462px;
    height: 34px;
    padding: 10px 0 10px 12px;
    border: 0.5px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.form_text_input::placeholder {
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #D7D7D7;
}


/* 참여 인원 */

select {
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
}

.form_select {
    width: 174px;
    height: 31px;
    border: 0.5px solid #C9C9C9;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    padding: 9px 0 8px 12px;
}


/* 완료 */

.form_submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 44px;
    background: #651EFF;
    border-radius: 40px;
    margin-bottom: 43px;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    border: none;
}