/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.modal.openModal {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
